*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
build/

# Local configuration file
local.properties

# Log Files
*.log

# Android Profiling
*.hprof
